@import "SkillButton/SkillButton.scss";

.skillColumn {
  max-height: 500px;
  overflow: auto;
  display: block;
  float: left;
}

.skillSearch {
  height: 40px;
  background-color: white;
  cursor: text;
}
